@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    --cabeçalho:"Passion One";
    --menu:"Sriracha";
html{
    font-size: 16px;
}
}
body{
    margin: 0;
}
header{
padding: 5px;
background-color: black;
color: white;
text-align: center;
}
header h1{
    font-family: 'Passion One'; 
    font-size: clamp(1em, 10vw,7em);
    font-variant: small-caps;
    margin: 10px;
}
header a{
   text-decoration: none;
    color: white;
}
header a:visited{
    color: rgb(255, 255, 255);
}
header a:hover{
    text-decoration: underline;
}
header p{
    margin-top: -30px;
    font-family: 'Poppins';
    font-size: 20px;
}
main{
    font-family: var(--menu) ;
    font-size: clamp(1em, 5vw,3em);
        
}
section{
        padding: 10px;

}
section#segunda{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset -2px 0px 10px 10px rgba(0, 0, 0, 0.76);
}
p{
    padding: 10px;
}
p#e2{
color: rgb(248, 248, 248);
min-width: 300px;
max-width: 600px;
background-color: rgba(0, 0, 0, 0.507);
border-radius: 6px;
}
section#quinta{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset -2px 0px 10px 10px rgba(0, 0, 0, 0.76);
}
p#e5{
color: rgb(248, 248, 248);
min-width: 300px;
max-width: 600px;
background-color: rgba(0, 0, 0, 0.507);
border-radius: 6px;
text-shadow: 2px 2px 2px black;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    font-family: 'Poppins';

}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}